<div class="game-display">
  <%= render 'teams', teams: teams %>

  <div class="game-date">
    <% game_start_datetime = convertStartTimeToLocal(game_date) %>
    <span>Scheduled Start Time: <%= game_start_datetime.strftime("%l:%M %P %Z") %></span>
  </div>

  <% if MLBStatsAPI::Games.pregame_status?(game_status) %>
    <div>
      <p><%= game_status %></p>
    </div>
  <% elsif MLBStatsAPI::Games.postgame_status?(game_status) %>
    <div>
      <p><%= game_status %></p>
    </div>
  <% else %>
    <div>
      <%= render 'ingame', teams: teams %>
    </div>  
  <% end %>
</div>