<div class="game-display">
  <%= render 'teams', teams: teams %>

  <div class="game-date">
    <% game_start_datetime = convertStartTimeToLocal(game_date) %>
    <span>Scheduled Start Time: <%= game_start_datetime.strftime("%l:%M %P %Z") %></span>
  </div>

  <div class="game-container">
    <% if MLBStatsAPI::Games.pregame_status?(game_status) %>
      <p><%= game_status %></p>
    <% elsif MLBStatsAPI::Games.postgame_status?(game_status) %>
      <p><%= game_status %></p>
    <% else %>
      <%= render 'ingame', teams: teams %>
    <% end %>
  </div>
</div>