<div class="game-display">
  <% boxscore = getBoxscore(game) %>
  <div class="teams">
    <span>
      <div class="away-team">
        <%= boxscore['teams']['away']['team']['name'] %>
      </div>
      <div class="away-team-logo">
        <%= image_tag getLogo(boxscore['teams']['away']['team']['id']), class: "team-logo" %>
      </div>
    </span>

    <p>@</p>

    <span>
      <div class="home-team">
        <%= boxscore['teams']['home']['team']['name'] %>
      </div>
      <div class="home-team-logo">
        <%= image_tag getLogo(boxscore['teams']['home']['team']['id']), class: "team-logo" %>
      </div>
    </span>
  </div>

  <div class="game-date">
    <% game_start_datetime = convertStartTimeToLocal(game_date) %>
    <%= game_start_datetime.strftime("%l:%M %P %Z") %>
  </div>

  <% if MLBStatsAPI::Games.pregame_status?(game_status) %>
    <div>
      <p><%= game_status %></p>
    </div>
  <% elsif MLBStatsAPI::Games.postgame_status?(game_status) %>
    <div>
      <p><%= game_status %></p>
    </div>
  <% end %>
</div>