<div class="ingame-container">
  <% linescore = get_linescore(game_key) %>

  <div class="score-container">
    <p>Away: <%= teams['away']['score'] %></p>

    <p>Home: <%= teams['home']['score'] %></p>
  </div>
  <div class="bases-container">
    <div id="first-base" class="base <%= man_on_first(linescore['offense']) %>""></div>
    <div id="second-base" class="base <%= man_on_second(linescore['offense']) %>"></div>
    <div id="third-base" class="base <%= man_on_third(linescore['offense']) %>"></div>
    <div id="inning-text">
      <span><%= linescore['balls'] %> - <%= linescore['strikes'] %></span>
      <span><%= linescore['outs'] %> out</span>
    </div>
  </div>
  <div id="inning-tracker">
    <p>
      <% if linescore['isTopInning'] %>
        TOP
      <% else %>
        BOT
      <% end %>
      <%= linescore['currentInningOrdinal'] %>
    </p>
  </div>
</div>